body {
  background-image: url("pngtree-boba-background-picture-image_13224609.jpg");
  background-color: #cccccc;
    text-align: center;
}
body {
  color: rgb(46, 0, 0);
    
}

h1 {
  color: rgb(255, 234, 112);
}

h2 {
  color: rgb(199, 73, 0);
}

p.outset {
  border-style: outset;
  border-width: 5px;
  padding: 10px;
}

/* Additional border styles */
p {
  border-style: solid;
  border-color: rgb(46, 0, 0);
  border-width: 2px;
  padding: 10px;
}
