body {
  background-image: url("pngtree-boba-background-picture-image_13224609.jpg");
  background-color: #cccccc;
    text-align: center;
}
body {
  color: rgb(46, 0, 0);
    
}

h1 {
  color: rgb(255, 234, 112);
}

h2 {
  color: rgb(199, 73, 0);
}
